@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

:root {
  --black-color: #1c1c1c;
  --body-color: #eaeaea;
  --white-color: #fff;
  --border-color: #f2f2f2;
  --white-hover-color: #eaeaeaae;
  --blue-color: #2777b5;
  --blue-hover-color: #15507e;
  --dark-blue-color: #27313d;
}

/* Root Config. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0.94rem 5.1rem;
  background-color: var(--body-color);
  width: 100%;
}

hr {
  color: var(--bg-body);
}

p {
  font-size: 16px;
}

/* Section 1 */

.header {
  border-bottom: 1px solid #f2f2f2;
}

.menu-mobile {
  display: block;
  text-align: center;
  align-items: center;
}

.menu-mobile h3::before {
  content: "\f0c9";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: bold;
  text-decoration: inherit;
  color: #ffffff;
  font-size: 21px;
  color: var(--blue-color);
  padding-right: 10px;
}

.menu-mobile > h3 {
  display: none;
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  cursor: pointer;

  padding: 5px 22px;
}

.menu {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.menu > ul {
  width: 100%;
  flex-wrap: wrap;
}

.menu > ul {
  display: flex;
}

.item {
  list-style: none;
  font-size: 16px;
  padding: 12px 16px;
  white-space: nowrap;
}

.item {
  color: var(--black-color);
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.item:hover {
  color: var(--white-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--blue-color);

  cursor: pointer;
}

#estude {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.about-game {
  z-index: 1;
  background: var(--white-color);

  padding: 4.6rem 2.5rem;
  border-top: 3px solid var(--blue-color);

  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

.title {
  font-size: 2rem;
  background-color: var(--blue-color);

  padding: 1rem;
  margin-top: 1.5rem;

  width: 100%;
  color: var(--white-color);
}

.about-container {
  display: flex;
  margin: 6rem 0 1rem 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 2rem 0;
}

.container-buttons {
  margin-top: 2.3rem;
  width: 100%;

  text-align: start;
  gap: 16px;
}

.container-buttons > span {
  margin: 0 1rem;
}

.play-btn {
  font-size: 1rem;
  font-weight: 600;

  text-align: center;
  padding: 12px 54px;

  text-decoration: none;

  color: var(--white-color);
  background-color: var(--blue-color);

  border: none;
  border-radius: 24px;

  cursor: pointer;
  transition: all ease 0.2s;
}

.play-btn:hover {
  background-color: var(--blue-hover-color);
}

.sub-container {
  font-size: 1.6rem;
  margin: 1rem 0 1rem;
}

.description-container {
  font-size: 16px;
}

figure > img {
  width: 100%;
}

#banner {
  margin: -5px 0;
}

#game {
  width: 532px;
}

/* Section 2 */

.join-us {
  margin: 1.8rem 0 1rem 0;
}
.join-us > p {
  margin-top: 1.8rem;
}

.join-us > ul {
  margin-left: 1rem;
}

.join-us > li {
  margin-bottom: 1rem;
}

/* Section 3 */

.courses {
  margin: 1.8rem 0 1rem 0;
}

.text-group {
  margin-top: 2rem;
}

/* Section 4 */

.ways-to {
  margin: 1.8rem 0 3rem 0;
}

h3 {
  font-size: 1.1rem;
}

/* Footer */

footer {
  background-color: var(--dark-blue-color);
  height: 66px;

  border-bottom: 3px solid var(--blue-color);
  margin: 0 -2.5rem 0;
}

#goToTopBtn {
  display: none;
  position: fixed;

  font-size: 24px;

  bottom: 32px;
  right: 18px;

  background-color: var(--blue-color);
  color: var(--white-color);

  border: none;
  border-radius: 16px;

  padding: 10px 13px;

  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
}

#goToTopBtn:hover {
  background-color: var(--blue-hover-color);
}

#goToTopBtn.fade-in {
  opacity: 1;
}

/* Media Queries */

@media (max-width: 480px) {
  body {
    background-color: var(--white-color);
    width: 100%;
    padding: 1rem 0.3rem;
  }

  .header {
    margin: 1.4rem 0;
  }

  .u-mobile.closed {
    display: none;
  }

  .about-game {
    background: var(--white-color);

    padding: 0.6rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }
  .sub-container {
    font-size: 1.4rem;
  }

  .container-buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .text-container {
    display: flex;
    flex-direction: column;

    margin: 0 0 2rem 0;
  }
  #game {
    width: 100%;
  }

  #goToTopBtn {
    font-size: 20px;

    bottom: 24px;
    right: 24px;

    background-color: var(--blue-hover-color);
  }

  footer {
    width: 100%;
    margin: 0;
  }
}

/* Menu mobile */

@media (max-width: 768px) {
  .menu-mobile {
    display: block;
    padding: 8px 2.5px;
    border: 1px solid var(--border-color);
  }

  .u-mobile.closed {
    display: none;
  }

  .menu > ul {
    width: 100%;
    flex-wrap: wrap;
  }

  .menu-mobile > h3 {
    display: block;
  }

  .menu > ul {
    display: flex;
    flex-direction: column;
    text-align: start;
    z-index: 2;
  }

  .item {
    list-style: none;
    font-size: 16px;
    padding: 12px 16px;
    white-space: nowrap;
  }
}

@media (min-width: 481px) and (max-width: 991px) {
  body {
    padding: 1rem;
    background-color: var(--white-color);
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .text-container {
    display: flex;
    flex-direction: column;

    margin: 0 1rem 2rem 0;
  }

  .container-buttons {
    display: block;
    margin-top: 2.3rem;
    width: 100%;
    justify-content: space-between;
  }

  .container-buttons > span {
    margin: 0 1rem;
  }

  .play-btn {
    font-size: 1rem;
    font-weight: 600;

    padding: 12px 36px;

    text-decoration: none;

    color: var(--white-color);
    background-color: var(--blue-color);
    margin-top: 1.5rem;

    border: none;
    border-radius: 24px;

    cursor: pointer;
    transition: all ease 0.2s;
  }

  .play-btn:hover {
    background-color: var(--blue-hover-color);
  }

  #game {
    width: 400px;
  }

  #goToTopBtn {
    font-size: 20px;

    bottom: 24px;
    right: 24px;

    background-color: var(--blue-hover-color);
  }
}

@media (min-width: 992px) and (max-width: 1080px) {
  .text-container {
    display: flex;
    flex-direction: column;

    margin: 0 1.2rem 2rem 0;
  }

  .container-buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  #game {
    width: 425px;
  }
}
